{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "env": {
    "emotion": {
      "plugins": [
        [
          "transform-rename-import",
          {
            "replacements": [
              {
                "original": "^@rebass/components$",
                "replacement": "@rebass/components/emotion"
              },
              {
                "original": "^styled-components$",
                "replacement": "emotion-theming"
              },
              {
                "original": "^@rebass/grid$",
                "replacement": "@rebass/grid/emotion"
              }
            ]
          }
        ]
      ]
    }
  }
}
