{
  "presets": [
    "env",
    "stage-0",
    "react"
  ],
  "env": {
    "emotion": {
      "plugins": [
        [
          "transform-rename-import",
          {
            "replacements": [
              {
                "original": "^system-components$",
                "replacement": "system-components/emotion"
              },
              {
                "original": "^styled-components$",
                "replacement": "emotion-theming"
              },
              {
                "original": "^grid-styled$",
                "replacement": "grid-styled/emotion"
              }
            ]
          }
        ]
      ]
    }
  }
}
