{
  presets: [
    'stage-0',
    'react'
  ],
  env: {
    test: {
      presets: [
        'env'
      ]
    },
    cjs: {
      presets: [
        [ 'env', {
          targets: {
            node: true
          }
        } ]
      ]
    },
    es: {
      presets: [
        [ 'env', {
          loose: true,
          modules: false
        } ]
      ]
    },
    emotion: {
      presets: [
        [ 'env', {} ]
      ],
      plugins: [
        [ 'transform-rename-import', {
          replacements: [
            {
              original: '^styled-components$',
              replacement: 'react-emotion'
            }
          ]
        } ]
      ]
    }
  }
}
