
/* Rebass docs */


/* LayoutSidebar */

.LayoutSidebar-sidebar {
  width: 14rem;
  margin-left: -14rem;
  transition: margin .2s ease-out;
}
.LayoutSidebar.is-open .LayoutSidebar-sidebar {
  margin-left: 0;
  outline: 2px solid tomato;
}

.LayoutSidebar-content {
  transition: margin .2s ease-out;
}
.LayoutSidebar.is-open .LayoutSidebar-content {
  margin-right: -14rem;
}

@media (--breakpoint-sm) {
  .LayoutSidebar-sidebar {
    margin-left: 0;
  }
  .LayoutSidebar-content {
    margin-right: 0;
  }
}

/* HACKS */

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 3;
  vertical-align: middle;
  border-top: 7px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.button-transparent.is-active {
  box-shadow: none;
}

/* Defaults */
@import 'basscss-defaults';

