/* Rebass docs */


/* LayoutSidebar */
.LayoutSidebar-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  width: 14rem;
  transform: translateX(-14rem);
  transition: margin .2s ease-out, transform .2s ease-out;
  -webkit-overflow-scrolling: touch;
}
.LayoutSidebar.is-open .LayoutSidebar-sidebar {
  transform: translateX(0);
}

.LayoutSidebar-content {
  transition: transform .2s ease-out;
}
.LayoutSidebar.is-open .LayoutSidebar-content {
  transform: translateX(14rem);
}

@media (--breakpoint-sm) {
  .LayoutSidebar-sidebar,
  .LayoutSidebar-content,
  .LayoutSidebar.is-open .LayoutSidebar-sidebar,
  .LayoutSidebar.is-open .LayoutSidebar-content {
    transform: none;
  }
  .LayoutSidebar-content {
    margin-left: 14rem;
  }
}


/* HACKS */

.touch-scroll {
  -webkit-overflow-scrolling: touch;
}

.no-touch-highlight {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@import 'basscss-defaults';

