/* Rebass docs */

/* LayoutSidebar */

.LayoutSidebar-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  overflow: auto;
  width: 14rem;
  -webkit-transform: translateX(-14rem);
      -ms-transform: translateX(-14rem);
          transform: translateX(-14rem);
  -webkit-transition: margin .2s ease-out, -webkit-transform .2s ease-out;
          transition: margin .2s ease-out, transform .2s ease-out;
  -webkit-overflow-scrolling: touch;
}

.LayoutSidebar.is-open .LayoutSidebar-sidebar {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.LayoutSidebar-content {
  -webkit-transition: -webkit-transform .2s ease-out;
          transition: transform .2s ease-out;
}

.LayoutSidebar.is-open .LayoutSidebar-content {
  -webkit-transform: translateX(14rem);
      -ms-transform: translateX(14rem);
          transform: translateX(14rem);
}

@media (min-width: 40em) {
  .LayoutSidebar-sidebar,
  .LayoutSidebar-content,
  .LayoutSidebar.is-open .LayoutSidebar-sidebar,
  .LayoutSidebar.is-open .LayoutSidebar-content {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }

  .LayoutSidebar-content {
    margin-left: 14rem;
  }
}

/* HACKS */

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 3;
  vertical-align: middle;
  border-top: 7px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.touch-scroll {
  -webkit-overflow-scrolling: touch;
}

.no-touch-highlight {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.button-transparent.is-active {
  box-shadow: none;
}

/* Defaults */

/* Basscss Defaults */

/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/

:root {
  /* Cool */
  /* Warm */
  /* Gray scale */
}

:root {
  /* Legacy support */
}