/* Rebass docs */

/* LayoutSidebar */

.LayoutSidebar-sidebar {
  width: 14rem;
  margin-left: -14rem;
  -webkit-transition: margin .2s ease-out;
          transition: margin .2s ease-out;
}

@media (min-width: 40em) {
  .LayoutSidebar-sidebar {
    margin-left: 0;
  }
}

/* HACKS */

.button-transparent.is-active {
  box-shadow: none;
}

/* Defaults */

/* Basscss Defaults */

/*

   COLOR VARIABLES

   - Cool
   - Warm
   - Gray Scale

*/

:root {
  /* Cool */
  /* Warm */
  /* Gray scale */
}

:root {
  /* Legacy support */
}