
/* Rebass docs */


/* LayoutSidebar */

.LayoutSidebar-sidebar {
  width: 14rem;
  margin-left: -14rem;
  transition: margin .2s ease-out;
}

@media (--breakpoint-sm) {
  .LayoutSidebar-sidebar {
    margin-left: 0;
  }
}

/* HACKS */

.button-transparent.is-active {
  box-shadow: none;
}

/* Defaults */
@import 'basscss-defaults';

